.wp-page {
  .content-wrapper {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
    .bk {
      display: block;
      position: absolute;
      height: auto;
      &.bk01 {
        width: 40%;
        top: 0;
        left: 0;
        z-index: -1;
        @include mq(md) {
          width: 20%;
        }
      }      
      &.bk02 {
        width: 45%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
        @include mq(md) {
          width: 25%;
        }      
      }
      &.bk03 {
        width: 40%;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include mq(md) {
          width: 20%;
        }
      }    
    }
  }
}