$color-text: #000000;
$color-line: #000000;
$color-main: #3AB483;
$color-white: #FFFFFF;
// $color-sub: #E2D4CB;
$color-sub: #fff4ed;
$color-strong: #EA736C;
$color-water: #5AE3CA;
$color-attention: #ff8800;