// $font-family-gothic: 'Noto Sans JP', 'Yu Gothic UI','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
// $font-family-mincho: 'Sawarabi Mincho' ,'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
$font-family-latin: 'Segoe UI','Helvetica Neue',sans-serif;

$font-family-gothic: 'M PLUS Rounded 1c','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック',sans-serif;
$font-family-mincho: 'M PLUS Rounded 1c','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック',sans-serif;