.wp-page.page-reserve {
  .main {
    .section-page_title {
      background: url(../img/title-reserve.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }//.section-page_title
  }
}